@model IEnumerable<Product>
<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="floating-button">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="bi bi-info-square"></i>
    </button>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Website Instructions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h4><span style="color: #008080;">Website Overview:</span></h4>
                <ul>
                    <li>
                        Following are the User Account that exists by default <i style="color:dodgerblue">(Password: Admin@101)</i>:
                        <ul>
                            <li>Admin User&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i style="color:dodgerblue">admin@gmail.com</i></li>
                            <li>Individual User&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i style="color:dodgerblue">customer@gmail.com</i></li>
                            <li>Authorized Company User&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i style="color:dodgerblue">company@gmail.com</i></li>
                            <li>Authorized Employee User&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i style="color:dodgerblue">employee@gmail.com</i></li>
                        </ul>
                    </li>
                    <li>You can create new accounts as you wish! If you prefer to create any accounts please login using the Admin/Manager User and navigate to Users inside Content Management.&nbsp;</li>
                </ul>
                <h4 style="color: #2e6c80;">How to use the demo website:</h4>
                <ul>
                    <li>This website is inteded to server as demo application.</li>
                    <li>User can place order after adding items to cart.</li>
                    <li>Once order is placed you can login as Manager/Admin User and Manage orders and see the flow of application.</li>
                    <li>
                        In order to place order you can use any test credit card number supported by stripe.
                        <ul>
                            <li>
                                A default example is 4000 0035 6000 0008, valid date , any 3 digit CVV.
                            </li>
                        </ul>
                    </li>
                    <li>Admin user can register new employees/admins for the website.</li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
            </div>
        </div>
    </div>
</div>